<!DOCTYPE html>
<html>

<head>
  <title>Horrible Joke Generator</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Titan+One&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="styles/main.css">

</head>

<body>
  <h1>The Horrible Joke Generator</h1>  
  <% if (locals.joke) { %> 
 
  <div class="user"> 
    <p class="joke">
      <%=joke %>
    </p>
    </div>
      <% } %>
      <% if (locals.setup) { %> 
        <div class="user">
        <p class="joke">
          <%=setup %>
        </p>

        <div class="delivery"> 
        <p class="joke"> 
            <%=delivery %> 
        </p>
      </div>
      </div>
      <% } %>
    
  </div>
  <p class="user">
    <form action="/created-joke" method="post">
      <label id="joketext" for="username">What do you want your joke to be about?</label>
      <br>
      <input class="submit" type="text"  name="submitted"> 
      <br>
      <button class="submit" type="submit">Submit</button>
  </form>
  </p>
  
<% if (locals.noJoke === true) { %> 
  <div class="user">
 <P class="joke" style="color:red"> SORRY BUD NO JOKES ABOUT THAT</P>
</div>
<% } %>

</body>

</html>